:root {
    --bg: #242529;
    --text: white
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 240px;
    background-color: var(--bg);
    color: var(--text);
}