.featureSection {
    margin-top: 8rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1.5rem;
    column-gap: 1.2rem;
}

.glowContainer {
    position: relative;
    overflow: hidden;
    width: 230px;
    height: 270px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 1rem;
    background-color: rgb(255, 255, 255, 0.06);
}

.glowContainer:hover::before {
    opacity: 1;
}

.glowContainer::before {
    background: radial-gradient(600px circle at var(--light-x) var(--light-y), rgba(255, 255, 255, 0.1), transparent 40%);
    border-radius: inherit;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;

    opacity: 0;
    transition: opacity 0.5s;
}