.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 50px;
}

.card {}

.cardImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1001px) and (max-width: 1400px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1401px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}