.link {
    display: block;
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500px;
    color: var(--text);
}

.active {
    background-color: var(--text);
    color: var(--bg);
}