.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    gap: 56px;

    padding: 0 100px;

    position: fixed;
    top: 0;
    right: 0;
    left: 200px;
    height: 80px;
    z-index: 100;

    background-color: var(--bg);
}