.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    gap: 56px;

    background-color: lightcoral;

    position: fixed;
    top: 0;
    right: 0;
    left: 200px;
    height: 100px;
    z-index: 100;
}